table.hotleitem_table {
    border: 0 none;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

    table.hotleitem_table td {
        border: 0px;
        border-bottom: 1px solid #ccc;
        font-family: Tahoma;
        font-size: 13px;
        height: 45px;
        line-height: 45px;
        padding: 0px 4px 0px 10px;
    }

        table.hotleitem_table td span {
            line-height: 18px;
        }

        table.hotleitem_table td.hometype {
            border-right: 1px solid #ccc;
        }

        table.hotleitem_table td.hometypebox {
            border: 0px;
            border-bottom: 1px solid #ccc;
            padding: 0px;
        }

    table.hotleitem_table tr.typelist td {
        border-bottom: 1px dashed #f0f0cc;
        padding: 0px 4px 0px 4px;
        width: 110px;
    }


    table.hotleitem_table table {
        border: 0px;
    }



    table.hotleitem_table thead th {
        background: #f7f7f7;
        border: 0px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: left;
        width: 110px;
    }

    table.hotleitem_table td.price {
        color: #ff3300;
        font-family: 微软雅黑;
        font-size: 18px;
        text-align: left;
    }


.hotellist a {
    -moz-user-select: none;
    display: inline-block;
    margin-left: 7px;
    margin-top: 10px;
}

    .hotellist a:hover {
        background-color: #d9f3ff;
    }







span.yhbox {
    -moz-user-select: none;
    background-color: #ff3300;
    border: 1px solid #ff9933;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
}

    span.yhbox.T {
        background-color: #009933;
        border-color: #00cc66;
    }

    span.yhbox.S, span.yhbox.Y {
        color: Red;
        background-color: #fffcd1;
        border-color: #ff9933;
    }


.intro_head {
    width: 850px;
    height: 28px;
    line-height: 28px;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.intro_head font {
    font-size: 12px;
    color: #f60;
}

.intro_information {
    overflow: hidden;
    width: 850px;
    padding: 10px;
}

    .intro_information dt {
        width: 850px;
        height: 22px;
        background-position: left -578px;
        line-height: 17px;
        _overflow: hidden;
        color: #f60;
    }

    .intro_information dd {
        padding: 5px 0 0 0;
        overflow: hidden;
    }

    .intro_information dt span {
        font-weight: 700;
        margin-right: 10px;
        float: left;
        position: relative;
        height: 16px;
        padding-left: 10px;
        border-left: 4px solid #ffa63c;
        color: #333;
    }

    .intro_information img {
        display: block;
        margin: 0 auto;
    }

.intro_img {
    width: 350px;
    float: left;
    overflow: hidden;
    margin-left: 40px;
    _margin-left: 20px;
}

    .intro_img img {
        width: 350px;
        height: 263px;
        margin: 0 auto;
    }

    .intro_img span {
        width: 350px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

.intro_information dd p {
    padding-bottom: 10px;
}
