<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全国城市景点_全国城市景点门票_驾驴旅游网</title>
    #include("pageHeadCode.htm")
    <link href="/Skin/Default/style/scenerycity.css" rel="stylesheet" />
</head>
<body>
    #parse("pageHead.htm")
    <div class="pagebox">
        <div class="pageWay">
            您的位置：<a href="/" title="驾驴旅游网门票预定">首页</a> > <span title="全国城市景点门票">城市景点</span>
        </div>
    </div>
    <div class="pagebox">
        <div class="hotBox">
            <span class="title">热门城市</span>
            <div class="leftbox" id="city_list">
                <a href="javascript:void(0)" class="cid_cls">黄山</a>
                <a href="javascript:void(0)" class="cid_cls">苏州</a>
                <a href="javascript:void(0)" class="cid_cls">杭州</a>
                <a href="javascript:void(0)" class="cid_cls">北京</a>
                <a href="javascript:void(0)" class="cid_cls">上海</a>
                <a href="javascript:void(0)" class="cid_cls">合肥</a>
                <a href="javascript:void(0)" class="cid_cls">三亚</a>
                <a href="javascript:void(0)" class="cid_cls">广州</a>
                <a href="javascript:void(0)" class="cid_cls">深圳</a>
                <a href="javascript:void(0)" class="cid_cls">青岛</a>
                <a href="javascript:void(0)" class="cid_cls">丽江</a>
                <a href="javascript:void(0)" class="cid_cls">厦门</a>
                <a style="font-size:12px;color:#f60" href="/Scenic.html">more>></a>
            </div>
        </div>
    </div>
    <div class="pagebox">
        <div class="quicktitle">快速选择城市</div>
        <div class="quickbox">
            <ul id="quickul">
                <li><a href="#city_A">A</a></li>
                <li><a href="#city_B">B</a></li>
                <li><a href="#city_C">C</a></li>
                <li><a href="#city_D">D</a></li>
                <li><a href="#city_E">E</a></li>
                <li><a href="#city_F">F</a></li>
                <li><a href="#city_G">G</a></li>
                <li><a href="#city_H">H</a></li>
                <li><a href="#city_I">I</a></li>
                <li><a href="#city_J">J</a></li>
                <li><a href="#city_K">K</a></li>
                <li><a href="#city_L">L</a></li>
                <li><a href="#city_M">M</a></li>
                <li><a href="#city_N">N</a></li>
                <li><a href="#city_O">O</a></li>
                <li><a href="#city_P">P</a></li>
                <li><a href="#city_Q">Q</a></li>
                <li><a href="#city_R">R</a></li>
                <li><a href="#city_S">S</a></li>
                <li><a href="#city_T">T</a></li>
                <li><a href="#city_U">U</a></li>
                <li><a href="#city_V">V</a></li>
                <li><a href="#city_W">W</a></li>
                <li><a href="#city_X">X</a></li>
                <li><a href="#city_Y">Y</a></li>
                <li><a href="#city_Z">Z</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">A</div>
            <div class="contentbox_rightBox">
                <ul id="city_A"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">B</div>
            <div class="contentbox_rightBox">
                <ul id="city_B"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">C</div>
            <div class="contentbox_rightBox">
                <ul id="city_C"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">D</div>
            <div class="contentbox_rightBox">
                <ul id="city_D"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">E</div>
            <div class="contentbox_rightBox">
                <ul id="city_E"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">F</div>
            <div class="contentbox_rightBox">
                <ul id="city_F"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">G</div>
            <div class="contentbox_rightBox">
                <ul id="city_G"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">H</div>
            <div class="contentbox_rightBox">
                <ul id="city_H"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">I</div>
            <div class="contentbox_rightBox">
                <ul id="city_I"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">J</div>
            <div class="contentbox_rightBox">
                <ul id="city_J"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">K</div>
            <div class="contentbox_rightBox">
                <ul id="city_K"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">L</div>
            <div class="contentbox_rightBox">
                <ul id="city_L"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">M</div>
            <div class="contentbox_rightBox">
                <ul id="city_M"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">N</div>
            <div class="contentbox_rightBox">
                <ul id="city_N"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">O</div>
            <div class="contentbox_rightBox">
                <ul id="city_O"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">P</div>
            <div class="contentbox_rightBox">
                <ul id="city_P"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Q</div>
            <div class="contentbox_rightBox">
                <ul id="city_Q"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">R</div>
            <div class="contentbox_rightBox">
                <ul id="city_R"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">S</div>
            <div class="contentbox_rightBox">
                <ul id="city_S"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">T</div>
            <div class="contentbox_rightBox">
                <ul id="city_T"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">U</div>
            <div class="contentbox_rightBox">
                <ul id="city_U"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">V</div>
            <div class="contentbox_rightBox">
                <ul id="city_V"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">W</div>
            <div class="contentbox_rightBox">
                <ul id="city_W"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">X</div>
            <div class="contentbox_rightBox">
                <ul id="city_X"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Y</div>
            <div class="contentbox_rightBox">
                <ul id="city_Y"></ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Z</div>
            <div class="contentbox_rightBox">
                <ul id="city_Z"></ul>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var rs = $Citys;
    for (var i = 0; i < rs.length; i++) {

        $("#city_" + rs[i].ABCD).append('<li><a href="/Scenic/0-' + rs[i].ItemId+ '-0-0-0-0-1.html">' + rs[i].Name + '门票预订</a></li>')
    }
</script>
