<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全国城市景点_全国城市景点门票_驾驴旅游网</title>
    #include("pageHeadCode.htm")
    <link href="/Skin/Default/style/scenerycity.css" rel="stylesheet" />
</head>
<body>
    #parse("pageHead.htm")
    <div class="pagebox">
        <div class="pageWay">
            您的位置：<a href="/" title="驾驴旅游网门票预定">首页</a> > <span title="全国城市景点门票">城市景点</span>
        </div>
    </div>
    <div class="pagebox">
        <div class="hotBox">
            <span class="title">热门城市</span>
            <div class="leftbox" id="city_list">
                <a href="javascript:void(0)" class="cid_cls">黄山</a>
                <a href="javascript:void(0)" class="cid_cls">苏州</a>
                <a href="javascript:void(0)" class="cid_cls">杭州</a>
                <a href="javascript:void(0)" class="cid_cls">北京</a>
                <a href="javascript:void(0)" class="cid_cls">上海</a>
                <a href="javascript:void(0)" class="cid_cls">合肥</a>
                <a href="javascript:void(0)" class="cid_cls">三亚</a>
                <a href="javascript:void(0)" class="cid_cls">广州</a>
                <a href="javascript:void(0)" class="cid_cls">深圳</a>
                <a href="javascript:void(0)" class="cid_cls">青岛</a>
                <a href="javascript:void(0)" class="cid_cls">丽江</a>
                <a href="javascript:void(0)" class="cid_cls">厦门</a>
                <a style="font-size:12px;color:#f60" href="/Scenic.html">more>></a>
            </div>
        </div>
    </div>
    <div class="pagebox">
        <div class="quicktitle">快速选择城市</div>
        <div class="quickbox">
            <ul id="quickul">
                <li><a href="#city_A">A</a></li>
                <li><a href="#city_B">B</a></li>
                <li><a href="#city_C">C</a></li>
                <li><a href="#city_D">D</a></li>
                <li><a href="#city_E">E</a></li>
                <li><a href="#city_F">F</a></li>
                <li><a href="#city_G">G</a></li>
                <li><a href="#city_H">H</a></li>
                <li><a href="#city_I">I</a></li>
                <li><a href="#city_J">J</a></li>
                <li><a href="#city_K">K</a></li>
                <li><a href="#city_L">L</a></li>
                <li><a href="#city_M">M</a></li>
                <li><a href="#city_N">N</a></li>
                <li><a href="#city_O">O</a></li>
                <li><a href="#city_P">P</a></li>
                <li><a href="#city_Q">Q</a></li>
                <li><a href="#city_R">R</a></li>
                <li><a href="#city_S">S</a></li>
                <li><a href="#city_T">T</a></li>
                <li><a href="#city_U">U</a></li>
                <li><a href="#city_V">V</a></li>
                <li><a href="#city_W">W</a></li>
                <li><a href="#city_X">X</a></li>
                <li><a href="#city_Y">Y</a></li>
                <li><a href="#city_Z">Z</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">A</div>
            <div class="contentbox_rightBox">
                <ul id="city_A">
                    #foreach($A in $Citys)
                    #if($A.ABCD=="A")
                    <li><a href="/Scenic/0-$!{A.ItemId}-0-0-0-0-1.html">$!A.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">B</div>
            <div class="contentbox_rightBox">
                <ul id="city_B">
                    #foreach($B in $Citys)
                    #if($B.ABCD=="B")
                    <li><a href="/Scenic/0-$!{B.ItemId}-0-0-0-0-1.html">$!B.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">C</div>
            <div class="contentbox_rightBox">
                <ul id="city_C">
                    #foreach($C in $Citys)
                    #if($C.ABCD=="C")
                    <li><a href="/Scenic/0-$!{C.ItemId}-0-0-0-0-1.html">$!C.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">D</div>
            <div class="contentbox_rightBox">
                <ul id="city_D">
                    #foreach($D in $Citys)
                    #if($D.ABCD=="D")
                    <li><a href="/Scenic/0-$!{D.ItemId}-0-0-0-0-1.html">$!D.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">E</div>
            <div class="contentbox_rightBox">
                <ul id="city_E">
                    #foreach($E in $Citys)
                    #if($E.ABCD=="E")
                    <li><a href="/Scenic/0-$!{E.ItemId}-0-0-0-0-1.html">$!E.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">F</div>
            <div class="contentbox_rightBox">
                <ul id="city_F">
                    #foreach($F in $Citys)
                    #if($F.ABCD=="F")
                    <li><a href="/Scenic/0-$!{F.ItemId}-0-0-0-0-1.html">$!F.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">G</div>
            <div class="contentbox_rightBox">
                <ul id="city_G">
                    #foreach($G in $Citys)
                    #if($G.ABCD=="G")
                    <li><a href="/Scenic/0-$!{G.ItemId}-0-0-0-0-1.html">$!G.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">H</div>
            <div class="contentbox_rightBox">
                <ul id="city_H">
                    #foreach($H in $Citys)
                    #if($H.ABCD=="H")
                    <li><a href="/Scenic/0-$!{H.ItemId}-0-0-0-0-1.html">$!H.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">I</div>
            <div class="contentbox_rightBox">
                <ul id="city_I">
                    #foreach($I in $Citys)
                    #if($I.ABCD=="I")
                    <li><a href="/Scenic/0-$!{I.ItemId}-0-0-0-0-1.html">$!I.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">J</div>
            <div class="contentbox_rightBox">
                <ul id="city_J">
                    #foreach($J in $Citys)
                    #if($J.ABCD=="J")
                    <li><a href="/Scenic/0-$!{J.ItemId}-0-0-0-0-1.html">$!J.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">K</div>
            <div class="contentbox_rightBox">
                <ul id="city_K">
                    #foreach($K in $Citys)
                    #if($K.ABCD=="K")
                    <li><a href="/Scenic/0-$!{K.ItemId}-0-0-0-0-1.html">$!K.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">L</div>
            <div class="contentbox_rightBox">
                <ul id="city_L">
                    #foreach($L in $Citys)
                    #if($L.ABCD=="L")
                    <li><a href="/Scenic/0-$!{L.ItemId}-0-0-0-0-1.html">$!L.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">M</div>
            <div class="contentbox_rightBox">
                <ul id="city_M">
                    #foreach($M in $Citys)
                    #if($M.ABCD=="M")
                    <li><a href="/Scenic/0-$!{M.ItemId}-0-0-0-0-1.html">$!M.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">N</div>
            <div class="contentbox_rightBox">
                <ul id="city_N">
                    #foreach($N in $Citys)
                    #if($N.ABCD=="N")
                    <li><a href="/Scenic/0-$!{N.ItemId}-0-0-0-0-1.html">$!N.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">O</div>
            <div class="contentbox_rightBox">
                <ul id="city_O">
                    #foreach($O in $Citys)
                    #if($O.ABCD=="O")
                    <li><a href="/Scenic/0-$!{O.ItemId}-0-0-0-0-1.html">$!O.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">P</div>
            <div class="contentbox_rightBox">
                <ul id="city_P">
                    #foreach($P in $Citys)
                    #if($P.ABCD=="P")
                    <li><a href="/Scenic/0-$!{V.ItemId}-0-0-0-0-1.html">$!P.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Q</div>
            <div class="contentbox_rightBox">
                <ul id="city_Q">
                    #foreach($Q in $Citys)
                    #if($Q.ABCD=="Q")
                    <li><a href="/Scenic/0-$!{Q.ItemId}-0-0-0-0-1.html">$!Q.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">R</div>
            <div class="contentbox_rightBox">
                <ul id="city_R">
                    #foreach($R in $Citys)
                    #if($R.ABCD=="R")
                    <li><a href="/Scenic/0-$!{R.ItemId}-0-0-0-0-1.html">$!R.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">S</div>
            <div class="contentbox_rightBox">
                <ul id="city_S">
                    #foreach($S in $Citys)
                    #if($S.ABCD=="S")
                    <li><a href="/Scenic/0-$!{S.ItemId}-0-0-0-0-1.html">$!S.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">T</div>
            <div class="contentbox_rightBox">
                <ul id="city_T">
                    #foreach($T in $Citys)
                    #if($T.ABCD=="T")
                    <li><a href="/Scenic/0-$!{T.ItemId}-0-0-0-0-1.html">$!T.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">U</div>
            <div class="contentbox_rightBox">
                <ul id="city_U">
                    #foreach($U in $Citys)
                    #if($U.ABCD=="U")
                    <li><a href="/Scenic/0-$!{U.ItemId}-0-0-0-0-1.html">$!U.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">V</div>
            <div class="contentbox_rightBox">
                <ul id="city_V">
                    #foreach($V in $Citys)
                    #if($V.ABCD=="V")
                    <li><a href="/Scenic/0-$!{V.ItemId}-0-0-0-0-1.html">$!V.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">W</div>
            <div class="contentbox_rightBox">
                <ul id="city_W">
                    #foreach($W in $Citys)
                    #if($W.ABCD=="W")
                    <li><a href="/Scenic/0-$!{W.ItemId}-0-0-0-0-1.html">$!W.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">X</div>
            <div class="contentbox_rightBox">
                <ul id="city_X">
                    #foreach($X in $Citys)
                    #if($X.ABCD=="X")
                    <li><a href="/Scenic/0-$!{X.ItemId}-0-0-0-0-1.html">$!X.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Y</div>
            <div class="contentbox_rightBox">
                <ul id="city_Y">
                    #foreach($Y in $Citys)
                    #if($Y.ABCD=="Y")
                    <li><a href="/Scenic/0-$!{Y.ItemId}-0-0-0-0-1.html">$!Y.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
        <div class="pagebox" style="border-bottom: 1px dotted #ccc;">
            <div class="contentbox_leftBox">Z</div>
            <div class="contentbox_rightBox">
                <ul id="city_Z">
                    #foreach($Z in $Citys)
                    #if($Z.ABCD=="Z")
                    <li><a href="/Scenic/0-$!{Z.ItemId}-0-0-0-0-1.html">$!Z.Name门票预订</a></li>
                    #end
                    #end
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
