<connectionStrings>
  <!--业务数据-->
  <add name="qiao" connectionString="server=218.244.144.249,52866;database=qiao;uid=qiao_web;pwd=qiaoweb2014;Asynchronous Processing=True"
         providerName="System.Data.SqlClient"/>
  <!--Session数据库-->
  <add name="qiao_session" connectionString="server=218.244.144.249,52866;database=qiao_session;uid=qiao_session;pwd=Qsession2014;Asynchronous Processing=True"
          providerName="System.Data.SqlClient"/>
  <!--MongoDB-->
  <add name="MongoDB" connectionString="mongodb://qiao:qiaomongo2014@218.244.144.249:27017/qiao"/>
</connectionStrings>