<connectionStrings>
  <add name="cartrip" connectionString="server=coderman.mysql.rds.aliyuncs.com;database=sinotrip;uid=cartrip;pwd=Tls254890;CharSet=utf8" />
  <add name="cartrip_dz" connectionString="server=coderman.mysql.rds.aliyuncs.com;database=cartrip;uid=cartrip;pwd=Tls254890;CharSet=utf8" />
</connectionStrings>