<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="eos" connectionString="server=61.132.221.130,52866;Initial Catalog=Ahcyts;uid=dev-rw;pwd=dev-rw;Application Name=qiaomian://270/default/rw;Asynchronous Processing=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="token" value="ABABABABAABABABABAAB"/>
    <add key="appid" value="97bef348fc8e42898626c1a4d3d9c91d"/>
  </appSettings>
</configuration>
