<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<!--错误信息配置-->
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<File value="Log\\LogError\\" />
			<AppendToFile value="true" />
			<MaxSizeRollBackups value="100" />
			<MaxFileSize value="10240" />
			<StaticLogFileName value="false" />
			<DatePattern value="yyyyMMdd&quot;.log&quot;" />
			<RollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<!--每条日志末尾的文字说明-->
				<!--输出格式-->
				<!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
				<conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level - 错误描述：%message%newline" />
			</layout>
		</appender>

		<!--运行信息配置-->
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<File value="Log\\LogInfo\\" />
			<AppendToFile value="true" />
			<MaxSizeRollBackups value="100" />
			<MaxFileSize value="10240" />
			<StaticLogFileName value="false" />
			<DatePattern value="yyyyMMdd&quot;.log&quot;" />
			<RollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level - 错误描述：%message%newline" />
			</layout>
		</appender>

		<!--Debug信息配置-->
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<File value="Log\\LogDebug\\" />
			<AppendToFile value="true" />
			<MaxSizeRollBackups value="100" />
			<MaxFileSize value="10240" />
			<StaticLogFileName value="false" />
			<DatePattern value="yyyyMMdd&quot;.log&quot;" />
			<RollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level - 错误描述：%message%newline" />
			</layout>
		</appender>

		<!--警告信息配置-->
		<appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<File value="Log\\LogWarn\\" />
			<AppendToFile value="true" />
			<MaxSizeRollBackups value="100" />
			<MaxFileSize value="10240" />
			<StaticLogFileName value="false" />
			<DatePattern value="yyyyMMdd&quot;.log&quot;" />
			<RollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level - 错误描述：%message%newline" />
			</layout>
		</appender>

		<!--严重错误信息配置-->
		<appender name="FatalAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<File value="Log\\LogFatal\\" />
			<AppendToFile value="true" />
			<MaxSizeRollBackups value="100" />
			<MaxFileSize value="10240" />
			<StaticLogFileName value="false" />
			<DatePattern value="yyyyMMdd&quot;.log&quot;" />
			<RollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level - 错误描述：%message%newline" />
			</layout>
		</appender>


		<!--定义输出到控制台命令行中-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<!--定义输出到windows事件中-->
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<!--定义输出到数据库中【adminLog】-->
		<appender name="AdminLogAppender" type="log4net.Appender.AdoNetAppender">
			<!--BufferSize为缓冲区大小，只有日志记录超N+1条才会一块写入到数据库-->
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=218.244.144.249,52866;initial catalog=qiao;integrated security=false;persist security info=True;User ID=sa;Password=qiaomiancom2014" />
			<commandText value="Insert into qiao_log_admin(action,uid,relatedid,value,info,detail,dateline) VALUES (@action,@uid,@relatedid,@value,@info,@detail,@dateline)" />
			<parameter>
				<parameterName value="@action" />
				<dbType value="Int32" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{action}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@uid" />
				<dbType value="Int32" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{uid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@relatedid" />
				<dbType value="Int32" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{relatedid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@value" />
				<dbType value="String" />
				<size value="25" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{value}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@info" />
				<dbType value="String" />
				<size value="1000" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{info}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@detail" />
				<dbType value="String" />
				<size value="10240000" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{detail}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@dateline" />
				<dbType value="Int32" />
				<layout type="Qiao.Core.CustomLogger,Qiao.Core">
					<conversionPattern value="%property{dateline}" />
				</layout>
			</parameter>
		</appender>

    <!--定义输出到数据库中【orderLog】-->
    <appender name="OrderLogAppender" type="log4net.Appender.AdoNetAppender">
      <!--BufferSize为缓冲区大小，只有日志记录超N+1条才会一块写入到数据库-->
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=218.244.144.249,52866;initial catalog=qiao;integrated security=false;persist security info=True;User ID=sa;Password=qiaomiancom2014" />
      <commandText value="insert into qiao_log_mall_order(action,uid,orderid,ordersno,relatedid,value,data,info,dateline) VALUES (@action,@uid,@orderid,@ordersno,@relatedid,@value,@data,@info,@dateline) " />
      <parameter>
        <parameterName value="@action" />
        <dbType value="Int32" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{action}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uid" />
        <dbType value="Int32" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{uid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@orderid" />
        <dbType value="Int32" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{orderid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ordersno" />
        <dbType value="String" />
        <size value="255" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{ordersno}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@relatedid" />
        <dbType value="Int32" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{relatedid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@value" />
        <dbType value="String" />
        <size value="25" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{value}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@data" />
        <size value="-1" />
        <dbType value="String" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{data}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@info" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{info}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@dateline" />
        <dbType value="Int32" />
        <layout type="Qiao.Core.CustomLogger,Qiao.Core">
          <conversionPattern value="%property{dateline}" />
        </layout>
      </parameter>
    </appender>

		<!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
		<logger name="logerror">
			<level value="ALL" />
			<appender-ref ref="ErrorAppender" />
		</logger>
		<logger name="loginfo">
			<level value="ALL" />
			<appender-ref ref="InfoAppender" />
		</logger>
		<logger name="logdebug">
			<level value="ALL" />
			<appender-ref ref="DebugAppender" />
		</logger>
		<logger name="logwarn">
			<level value="ALL" />
			<appender-ref ref="WarnAppender" />
		</logger>
		<logger name="logfatal">
			<level value="ALL" />
			<appender-ref ref="FatalAppender" />
		</logger>
		<logger name="logadmin">
			<level value="ALL" />
			<appender-ref ref="AdminLogAppender" />
		</logger>
    <logger name="logorder">
      <level value="ALL" />
      <appender-ref ref="OrderLogAppender" />
    </logger>
	</log4net>
</configuration>