<appSettings>
  <!--HotleProfit 1-5星-->
  <add key="HotleRank:1S" value="0.05"/>
  <add key="HotleRank:2S" value="0.05"/>
  <add key="HotleRank:3S" value="0.05"/>
  <add key="HotleRank:4S" value="0.05"/>
  <add key="HotleRank:5S" value="0.05"/>
  <!--HotleProfit 准1-准5-->
  <add key="HotleRank:1A" value="0.05"/>
  <add key="HotleRank:2A" value="0.05"/>
  <add key="HotleRank:3A" value="0.05"/>
  <add key="HotleRank:4A" value="0.05"/>
  <add key="HotleRank:5A" value="0.05"/>

  <!--HotlePayType=CREDIT/DEPOSIT★(余额支付或授信支付)-->
  <add key="PAY:ZHX-HotelPayType" value="CREDIT"/>
  
  
  
  <!--Log4Net-->
  <add key="log4net.Config" value="App_Config/log4net.config"/>
  <add key="log4net.Config.Watch" value="True"/>

  <!--银联支付返回地址-->
  <add key="PAY:YL-FrontEndUrl" value="http://www.qiaomian.com/OrderPay/UnionPay/return_url.aspx"/>
  <add key="PAY:YL-BackEndUrl" value="http://t.qiaomian.com/OrderPay/UnionPay/NotifyCallback.aspx"/>
  <add key="PAY:YL-FlightBackEndUrl" value="http://www.qiaomian.com/OrderPay/UnionPay/NotifyCallback.aspx"/>
  <add key="PAY:YL-HotelBackEndUrl" value="http://www.qiaomian.com/OrderPay/UnionPay/NotifyCallback.aspx"/>
  
  
  <!--网页静态路径-->
  <add key="pageUrl:TYPE-263-272" value="/around.html"/>
  <add key="pageUrl:TYPE-263-283" value="/domestic.html"/>
  <add key="pageUrl:TYPE-268-272" value="/around.html"/>
  <add key="pageUrl:TYPE-268-283" value="/domestic.html"/>

  <add key="pageUrl:Item-263" value="/Tour/{0}.html"/>
  <add key="pageUrl:Item-268" value="/Tour/{0}.html"/>


  <!--短信模板设置-->
  <add key="QIAOSMS:Template0" value="您在荞面旅游网提交的编号为{0}的订单已提交成功，您可以进行后续的付款操作！"/>
  <add key="QIAOSMS:Template1" value="您在荞面旅游网提交的编号为{0}的订单合同已生成，合同编号为：{1}，您可以订单详情页中查看下载合同！"/>
  <add key="QIAOSMS:Template2" value="荞面旅游网提醒您:当前的验证随机码为:{0},请您尽快提交到网站中，谨防丢失！"/>
  <add key="QIAOSMS:Template3" value="恭喜您成功注册成为荞面旅游网会员，您的初始密码为{0}，为了您的帐号安全请尽快修改密码！"/>
  <add key="QIAOSMS:Template4" value="温馨提示:您在荞面网的用户名：{0},密码已重置为:{1}！请尽快登录网站修改密码"/>

  <!--前台模板文件夹目录-->
  <add key="WEB:TemplatePath" value="~/Template/"/>
  <!--前台模板风格-->
  <add key="WEB:TemplateType" value="default"/>

  <!--文件缓存文件夹-->
  <add key="fileCachePath" value="cache/"/>

  <!--文件缓存时间，以秒为单位-->
  <add key="Common_Timeout" value="3600"/>

  <add key="MallDic_Timeout" value="86400"/>
  <add key="AdminDic_Timeout" value="86400"/>
  <add key="Scenic_Timeout" value="86400"/>
  <add key="District_Timeout" value="86400"/>
  <add key="Config_Timeout" value="86400"/>


  <!--合同生成路径-->
  <add key="pactUploadPath" value="Upload/Pact/"/>

  <!--景点图片上传目录-->
  <add key="scenicUploadPath" value="Upload/Image/scenic/"/>

  <!--特卖图片上传目录-->
  <add key="saleImgUploadPath" value="Upload/Image/sale/"/>

  <!--签证图片上传目录-->
  <add key="visaImgUploadPath" value="Upload/Image/visa/"/>
  <!--签证附件上传目录-->
  <add key="visaAttachPath" value="Upload/Attach/visa"/>

  <!--旅游产品封面上传目录-->
  <add key="tourImgUploadPath" value="Upload/Image/tour/"/>

  <!--公告图片上传目录-->
  <add key="announImgUploadPath" value="Upload/Image/announ/"/>
  <!--公告附件上传目录-->
  <add key="announAttachPath" value="Upload/Attach/announ/"/>

  <!--商城模块缩略图上传目录-->
  <add key="mallBlockImgPath" value="Upload/Image/mallblock/"/>
  <!--商城活动上传路径-->
  <add key="mallActPath" value="Upload/Act/"/>

  <!--文章图片上传目录-->
  <add key="articleImgPath" value="Data/Image/article"/>
  <!--文章附件上传目录-->
  <add key="articleAttachePath" value="Data/Attache/article"/>

  <!--接口权限-->
  <add key="QiaoAPI:Name" value="qiaomian"/>
  <add key="QiaoAPI:Pass" value="qiaomian2014"/>

  <!--电子章路径-->
  <add key="QiaoZhang:ahcyts" value="http://a.qiaomian.com/Admin/resource/contractTemplate/ahcyts.png"/>


  <!--文件服务器地址-->
  <add key="fileServer0" value="http://www.qiaomian.com"/>
  <add key="fileServer1" value="http://218.22.12.154:8093"/>

  <!--索引文件夹及分词配置文件-->
  <add key="IndexDicpath" value="~/IndexDic"/>
  <add key="PanGupath" value="~/App_Config/Search/PanGu.xml"/>

  <!--商城频道配置文件-->
  <add key="MallChannelpath" value="~/App_Config/data/MallChannel.xml"/>

  <!--商城缓存过期时间，以秒为单位-->
  <add key="MallHelp_Timeout" value="86400"/>
  <add key="MallGG_Timeout" value="86400"/>
  <add key="MallBLOCK_Timeout" value="86400"/>
  <add key="Visa_Timeout" value="7200"/>
  <add key="Tour_Timeout" value="1800"/>
  <add key="Coupon_Timeout" value="1800"/>
  <add key="Lottery_Timeout" value="1800"/>
  <add key="Sale_Timeout" value="300"/>

  <add key="ProductSale_Timeout" value="1800"/>
  <add key="ProductSaleOut_Timeout" value="86400"/>

  <add key="Act_20141117_startTime" value="1416186000"/>

  <!--中航信酒店订单状态轮询间隔（秒）-->
  <add key="HotelBETimer" value="60"/>
  
  <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  
  <add key="ctripID" value="14722"/>
  <add key="ctripWebID" value="421364"/>
  <add key="ctripKey" value="34A0C891-12FE-4900-B5BE-040288457FB9"/>
  <add key="ctrip_Api" value="http://openapi.ctrip.com"/>


  <!--客户端版本-->
  <add key="UC_CLIENT_VERSION" value="1.5.2"/>
  <!--发行时间-->
  <add key="UC_CLIENT_RELEASE" value="20101001"/>

  <!--API 开关（value类型：True False 默认值：True）-->
  <!--是否允许删除用户-->
  <add key="API_DELETEUSER" value="True"/>
  <!--是否允许重命名用户-->
  <add key="API_RENAMEUSER" value="True"/>
  <!--是否允许得到标签-->
  <add key="API_GETTAG" value="True"/>
  <!--是否允许同步登录-->
  <add key="API_SYNLOGIN" value="True"/>
  <!--是否允许同步登出-->
  <add key="API_SYNLOGOUT" value="True"/>
  <!--是否允许更改密码-->
  <add key="API_UPDATEPW" value="True"/>
  <!--是否允许更新关键字-->
  <add key="API_UPDATEBADWORDS" value="True"/>
  <!--是否允许更新域名解析缓存-->
  <add key="API_UPDATEHOSTS" value="True"/>
  <!--是否允许更新应用列表-->
  <add key="API_UPDATEAPPS" value="True"/>
  <!--是否允许更新客户端缓存-->
  <add key="API_UPDATECLIENT" value="True"/>
  <!--是否允许更新用户积分-->
  <add key="API_UPDATECREDIT" value="True"/>
  <!--是否允许向UCenter提供积分设置-->
  <add key="API_GETCREDITSETTINGS" value="True"/>
  <!--是否允许获取用户的某项积分-->
  <add key="API_GETCREDIT" value="True"/>
  <!--是否允许更新应用积分设置-->
  <add key="API_UPDATECREDITSETTINGS" value="True"/>
  <!--API 开关结束-->

  <!--返回值设置-->
  <!--返回成功（默认：1）-->
  <add key="API_RETURN_SUCCEED" value="1"/>
  <!--返回失败（默认：-1）-->
  <add key="API_RETURN_FAILED" value="-1"/>
  <!--返回禁用（默认：-2）-->
  <add key="API_RETURN_FORBIDDEN" value="-2"/>
  <!--返回值设置结束-->

  <!--[必填]通信密钥-->
  <add key="UC_KEY" value="cartripucenterkey"/>
  <!--[必填]UCenter地址-->
  <add key="UC_API" value="http://www.cartrip.cc/uc_server"/>
  <!--[必填]默认编码-->
  <add key="UC_CHARSET" value="utf-8"/>
  <!--[非必填]UCenter IP-->
  <add key="UC_IP" value=""/>
  <!--[必填]应用ID-->
  <add key="UC_APPID" value="2"/>
</appSettings>

