<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter"/>
  </configSections>
  <connectionStrings configSource="App_Config\Database.config"/>
  <appSettings configSource="App_Config\Setting.config"/>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>/Scenic/Item([0-9]*)-([0-9]*).html</LookFor>
        <SendTo>/Scenic/Item.aspx?id=$1&amp;outsign=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Scenic.html</LookFor>
        <SendTo>/Scenic/List.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/([a-zA-Z0-9]*)/index.html</LookFor>
        <SendTo>/Default.aspx?area=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/City.html</LookFor>
        <SendTo>/Scenic/City.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Category.html</LookFor>
        <SendTo>/Scenic/Category.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Scenic/([0-9]*)-([0-9]*)-([0-9]*)-([0-9]*)-([0-9]*)-([0-9]*)-([0-9]*).html</LookFor>
        <SendTo>/Scenic/List.aspx?provice=$1&amp;city=$2&amp;county=$3&amp;type=$4&amp;price=$5&amp;grade=$6&amp;page=$7</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <location path="Template">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="admin"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms name="piao.cartrip.cc" loginUrl="~/" cookieless="AutoDetect" slidingExpiration="true"/>
    </authentication>
    <!--
    <customErrors mode="On" defaultRedirect="/404.htm">
      <error statusCode="403" redirect="/500.htm"/>
      <error statusCode="404" redirect="/404.htm"/>
      <error statusCode="500" redirect="/500.htm"/>
    </customErrors>-->
    <!--<httpCookies domain=".cartrip.cc"/>-->
    <compilation targetFramework="4.0" debug="true">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" name="htmlRewriter"/>
    </handlers>
  </system.webServer>
</configuration>