<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$!areaName景点门票预订_景点百科_景点大全_景点门票_驾驴旅游网</title>#include("pageHeadCode.htm")
    <meta name="description" content="全国景点大全和景点百科。驾驴旅游网提供全国特价门票预订，无需在线支付，解除您一切后顾之忧。驾驴旅游网为您的自助出游提供一站式的服务。" />
    <script src="/res/js/myfocus-2.0.1.min.js" type="text/javascript"></script>
    <script src="/Skin/Default/js/default.js" type="text/javascript"></script>
    <link href="/Skin/Default/style/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
    #set($lefMeun = 1)
    <!--是否显示左侧菜单,1显示,0隐藏-->
    #parse("pageHead.htm")
    <!--内容-->
    <div class="pagebox" style="margin-top: 2px; width: 1190px" >
        <div style="padding-left: 235px;">
            <div style="width: 953px; height: 280px;" class="thisbox">
                <div id="myFocus">
                    <!--焦点图盒子-->
                    <div class="loading">
                        图片加载中......
                    </div>
                    <div class="pic">
                        <!--图片列表-->
                        <ul>
                            <li>
                                <a href="/Scenic/Item0-12683.html" target="_blank">
                                    <img src="http://upload.17u.com/uploadfile/2015/01/23/2/201501231102332677612.jpg" height="280" width="950" alt="石台牯牛降" text="石台牯牛降"
                                         thumb="石台牯牛降" />
                                </a>
                            </li>
                            <li>
                                <a href="/Scenic/Item0-1396.html" target="_blank">
                                    <img src="http://upload.17u.com/uploadfile/2015/01/08/2/201501081832467659477.jpg" height="280" width="950" alt="禅意大别山" text="禅意大别山"
                                         thumb="禅意大别山" />
                                </a>
                            </li>
                            <li>
                                <a href="/Scenic/Item0-24351.html" target="_blank">
                                    <img src="http://upload.17u.com/uploadfile/2014/12/23/2/201412230953001357180.jpg" height="280" width="950" alt="黄山醉温泉" text="黄山醉温泉"
                                         thumb="黄山醉温泉" />
                                </a>
                            </li>
                            <li>
                                <a href="/Scenic/Item0-25627.html" target="_blank">
                                    <img src="http://upload.17u.com/uploadfile/2015/01/08/2/201501081346590481214.jpg" height="280" width="950" alt="合肥海洋世界" text="合肥海洋世界"
                                         thumb="合肥海洋世界" />
                                </a>
                            </li>
                            <li>
                                <a href="/Scenic/Item0-29631.html" target="_blank">
                                    <img src="http://upload.17u.com/uploadfile/2015/01/22/2/201501221637332504061.jpg" height="280" width="950" alt="中国非物质文化遗产园" text="中国非物质文化遗产园"
                                         thumb="中国非物质文化遗产园" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--抢游-->
    <div class="pagebox">
        <div style="padding-right: 303px; height: 480px; position: relative;">
            <div style="width: 880px; height: 470px;" class="thisbox">
                <div class="indexContent">
                    <span class="title">当季热卖</span>
                    <div class="leftbox">
                        <a href="/Scenic/0-0-0-1-0-0-1.html" class="cid_cls">温泉</a>
                        <a href="/Scenic/0-0-0-2-0-0-1.html" class="cid_cls">滑雪</a>
                        <a href="/Scenic/0-0-0-13-0-0-1.html" class="cid_cls">海岛度假</a>
                        <a style="font-size:12px;color:#f60" href="/Scenic.html">more>></a>
                    </div>
                </div>
                <ul class="default_product_list">
                    #set ($hotSec=$ThisPage.GetHotScenery("13,14"))
                    #foreach($hot in $hotSec.Scenerys)
                    <li style=" padding-top:10px">
                        <div class="imgbox">
                            <a href="/Scenic/Item0&#45;$!hot.sceneryId&#46;html" title="$!hot.sceneryName门票预订">
                                <img src="http://upload.17u.com/uploadfile/scenerypic_common/300_225/$!hot.imgPath" alt="$hot.scenerySummary" width="200px" height="150px" />
                            </a>
                        </div>
                        <a class="namebox" href="/Scenic/Item0&#45;$!hot.sceneryId&#46;html"><span class="productname">$!hot.sceneryName</span>¥$!hot.amountAdv</a>
                    </li>
                    #end
                </ul>
            </div>
            <div style="overflow: hidden; height: 470px; width: 300px; position: absolute; right: 0px;
                top: 0px;border: 1px solid #eee;">
                <div style="height: 140px" class="thisbox">
                    <div class="default_user">
                        <div class="default_user_box">
                            <div class="default_user_face">
                                <img alt="用户头像" height="64px" width="64px" src="/Skin/default/images/8080.png" />
                            </div>
                            <div>
                                Hi！$!QU.username
                            </div>
                            <div>
                                欢迎访问驾驴旅游网
                            </div>
                        </div>
                        <div class="default_user_buttonlist">
                            #set ($uid=$QU.id)
                            #if ($uid>0)
                            <div class="default_user_function">
                                <span class="buttonbox">
                                    <a href="http://www.cartrip.cc/home.php?mod=space&uid=$uid&do=profile&from=space" title="个人中心">个人中心</a>
                                </span>
                                <span class="buttonbox">
                                    <a href="http://www.cartrip.cc/home.php?mod=spacecp&ac=profile&op=password" title="密码修改">密码修改</a>
                                </span>
                                <span class="buttonbox">
                                    <a href="http://www.cartrip.cc/home.php?mod=space&uid=$uid&do=thread&view=me&from=space" title="我的游记">我的游记</a>
                                </span>
                            </div>

                            #else
                            <span class="buttonbox"><a href="http://www.cartrip.cc/member.php?mod=logging&action=login" title="会员登录">会员登录</a></span> <span class="buttonbox">
                                <a href="http://www.cartrip.cc/member.php?mod=register" title="免费注册">免费注册</a>
                            </span>
                            #end
                        </div>
                    </div>
                </div>
                <div style="height: auto">
                    <div class="minboxtitle">
                        <span class="iconStr">理</span><span class="title"><h2>选择驾驴的理由</h2></span>
                    </div>
                    <div class="contentlist" style="line-height:40px;padding-left:10px">
                        <h3 style="color:#ff6600; font-weight:400">1、20000余种景点门票供您挑选</h3>
                        <h3 style="color:#ff6600; font-weight:400">
                            2、超过1050万游客的真是点评
                        </h3>
                        <h3 style="color:#ff6600; font-weight:400">
                            3、完美的游记攻略助你出游更加方便
                        </h3>
                        <h3 style="color:#ff6600; font-weight:400">
                            4、自助游，深度游一站解决
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagebox switch_dist_list">
        <div class="indexContent">
            <span class="title">驾驴精选</span>
            <div class="leftbox" id="city_list">
                #set ($citys=$ThisPage.GetHotCity(7))
                #foreach($city in $citys)
                <a href="javascript:void(0)" class="cid_cls" cid="$!city.OutSign">$!city.Name</a>
                #end
                <a style="font-size:12px;color:#f60" href="/Scenic.html">more>></a>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="thisbox">
            <div style="overflow: hidden; position: relative; height: 375px;">
                <div class="switch_dist_content" style="display: block;width:1190px;" id="scenery_list">
                    #foreach($zbjd in $ZBJD.Scenerys)
                    <a href="/Scenic/Item0&#45;$!zbjd.sceneryId&#46;html">
                        <span class="contentbox">
                            <span class="contenttitle_bj"></span><span class="contenttitle">
                                $!zbjd.sceneryName</br>$!zbjd.scenerySummary
                            </span> <span class="productname">$!zbjd.sceneryName</span>
                            <span class="price">¥$!zbjd.amountAdv</span>
                            <img class="productimg" width="220px" height="135px" src="http://upload.17u.com/uploadfile/scenerypic_common/300_225/$zbjd.imgPath"
                                 alt="$!zbjds.scenerySummary" />
                        </span>
                    </a>
                    #end
                </div>
            </div>
        </div>
    </div>
    #parse("pageFoot.htm")
</body>
</html>
<script type="text/javascript">
    $("#city_list").find(".cid_cls").bind("click", function () {
        $("#city_list").find(".cid_cls").removeAttr("style");
        var cid = $(this).attr("cid");
        $(this).css({ "color": "#f60" });
        var url = "/AJAX/Scenery/GetInfo.ashx?method=List&page=1&pageSize=10&cityId=" + cid;
        jQuery.ajax({
            url: url,
            traditional: true,
            type: "POST",
            success: function (response) {
                jQuery.XloadHide();
                var json = response.toJson();
                if (!!json && !!json.Scenerys) {
                    var html = "";
                    for (var i = 0; i < json.Scenerys.length; i++) {
                        var item = json.Scenerys[i];
                        html += '<a href="/Scenic/Item0-' + item.sceneryId + '.html">' +
                        '<span class="contentbox"><span class="contenttitle_bj"></span><span class="contenttitle">' + item.sceneryName + '</br>' + item.scenerySummary +
                    '</span> <span class="productname">' + item.sceneryName + '</span><span class="price">¥' + item.amountAdv + '</span>' +
                    '<img class="productimg" width="220px" height="135px" src="http://upload.17u.com/uploadfile/scenerypic_common/300_225/'+ item.imgPath + '" alt="' + item.scenerySummary + '" /></span></a>';
                    }
                    $("#scenery_list").html(html);
                }
            }

        });
    });

</script>
