<script type="text/javascript">

                #if ($isIndex==1)
                    var leftmeun = 1;
                    #set($MeunBox = "black")
                #else
    var leftmeun = 2;
                     #set($MeunBox = "none")
                 #end



</script>
<style type="text/css">
    .leftmenubuttomboxbj {
        position: absolute;
        width: 45px;
        height: 365px;
        top: 0px;
        left: -45px;
        line-height: 18px;
        border: 1px solid #eee;
        -webkit-border-radius: 25px 0px 0px 25px;
        -moz-border-radius: 25px 0px 0px 25px;
        background-color: #008fff;
        z-index: 990;
        cursor: pointer;
    }

    .leftmenubuttombox {
        position: absolute;
        width: 45px;
        height: 255px;
        top: 0px;
        left: -45px;
        background: Url(/skin/default/images/leftmenubj.png) no-repeat center 70px;
        color: #ffffff;
        padding-top: 110px;
        text-align: center;
        line-height: 32px;
        font-size: large;
        font-weight: normal;
        cursor: pointer;
        z-index: 991;
    }

    .sb-l {
        float: left;
        border: 1px solid #fc7821;
        background: #fff;
        border-radius: 5px 0 0 5px;
        height: 18px;
        line-height: 16px;
        width: 528px;
        padding: 10px 15px;
        overflow: hidden;
    }

    .sb-l-box {
        float: left;
        margin-top: 30px;
    }

    .search-box {
        float: left;
        width: 670px;
        height: 95px;
        text-align: center;
    }

    .sb-bto {
        float: right;
        width: 110px;
        height: 40px;
        font-size: 20px;
        font-family: microsoft yahei;
        text-align: center;
        line-height: 40px;
        background: #fc7821;
        color: #fff;
        border-radius: 0 5px 5px 0;
        margin-top: 30px;
    }

    .sb-l input {
        border: 0;
        color: #ccc;
        font-size: 16px;
        font-family: microsoft yahei;
        width: 100%;
        height: 28px;
        line-height: 28px;
        width: 100%;
        margin-top: -6px;
    }
</style>
<script src="/Skin/Default/js/pageHead.js" type="text/javascript"></script>
<div class="menucounet" style="width:500px; display:none;" id="s_area_Box">
    <div class="leftMenuSearch">
        #foreach($provice in $Provice)
        <a href="/$provice.English/index.html">$provice.Name</a>
        #end
    </div>
</div>
<div class="page_top_title">
    <div class="pagebox" id="page_member_login">
        <div class="pagebox" id="UserLoginBox">
            <div style="width: 105px; padding-left: 10px; float: left">
                <a href="http://www.cartrip.cc">驾驴旅游网</a>
            </div>
        </div>

    </div>
</div>
<div>
</div>
<div class="pagebox">
    <div class="page_top_logo_box">
        <div class="page_logo">
            <a href="/"> <img src="http://hotel.cartrip.cc/public/www/default/images/logo.png" alt="门票预订-驾驴" /></a>
        </div>
        <div class="search-box">
            <div class="sb-l-box">
                <div class="sb-l">
                    <input type="text" id="txtScenicValue" value="景区名|城市">
                </div>
                <div class="cityout" id="hotCitys" style="display: none;"></div>
                <div id="scenlInfo_list"></div>
                <div class="errMasBorder" id="scenicMasErr1" style="margin-left: 162px; display: none;">
                    <span class="lefSpan"></span>
                    <span class="rgtSpan">景区名|城市</span>
                </div>
            </div>
            <a href="javascript:void(0);" id="btnQuery" class="sb-bto">探索</a>
        </div>
        <div class="page_400box" style="line-height:95px; font-size:16px; display:$MeunBox">
            <a href="javascript:void(0)" class="selectProvice" id="select_area" style="">$areaName</a>
        </div>
    </div>
</div>
<div class="page_nav_box_1">
    <div class="pagebox">
        <!-- <a class="menubuttom" id="leftmenubuttom" href="javascript:void(0)">推荐旅游产品目的地</a>-->
        <div id="page_nav_list">
            <!--class="iscurr"-->
            <span class="navline"></span><a href="/">门票首页</a>
            <span class="navline">|</span><a href="/city.html">城市景点</a>
            <span class="navline">|</span><a href="/category.html">分类景点</a>
            <span class="navline">|</span><a href="/Scenic/0-0-0-1-0-0-1.html">当季热卖</a>
            <span class="navline">|</span><a target="_blank" href="http://hotel.cartrip.cc">驾驴酒店</a>
            <span class="navline">|</span><a target="_blank" href="http://www.cartrip.cc/bbs">游记攻略</a>
            <span class="navline">|</span><a target="_blank" href="http://www.cartrip.cc/ask">问答</a>
            <!--<a href="/userweb/default.aspx" class="loginbutton">&nbsp;</a>-->
        </div>
        <div style=" width:1190px; margin:0 auto; display:$MeunBox">
            <div style=" position:absolute; z-index:990">
                <div class="thisbox leftmenu" id="jd_menubox">
                    <div class="menuItem Itemfirst">
                        <div class="jd_counetbox" style=" padding:20px; width:500px">
                            <div class="leftMenuSearch">
                                <a href="javascript:void(0)" style=" font-size:16px;color:#ff6600">游玩类型</a>
                            </div>
                            <div class="leftMenuSearch">
                                #foreach($theme in $Themes)
                                <a href="/Scenic/0-0-0-${theme.OrderNo}-0-0-1.html" style=" font-size:14px;">$theme.Name</a>
                                #end
                            </div>
                        </div>
                        <div class="left_menutitle">
                            <div class="left_menuname">
                                景点类型
                            </div>
                            <div class="left_menulable">
                                <a href="javascript:void(0)">温泉</a><a href="javascript:void(0)">滑雪</a><a href="javascript:void(0)">主题乐园</a><a href="javascript:void(0)">名胜古迹</a>
                            </div>
                        </div>
                    </div>
                    <div class="menuItem">
                        <div class="left_menutitle">
                            <div class="left_menuname">周边景点</div>
                            <div class="left_menulable" style="overflow:hidden;height:25px">
                                <a href="/Scenic/Item0-${ZBJD.Scenerys.get_item(0).sceneryId}.html">$ZBJD.Scenerys.get_item(0).sceneryName</a>
                                <a href="/Scenic/Item0-${ZBJD.Scenerys.get_item(1).sceneryId}.html">$ZBJD.Scenerys.get_item(1).sceneryName</a>
                            </div>
                        </div>
                        <div class="jd_counetbox" style=" padding:20px; width:600px">
                            <div class="leftMenuSearch">
                                <div class="leftMenuSearch">
                                    <a href="javascript:void(0)" style=" font-size:16px;color:#ff6600">周边景点</a>
                                </div>
                                #foreach($zbjd in $ZBJD.Scenerys)
                                <a href="/Scenic/Item0-${zbjd.sceneryId}.html" style=" font-size:14px;">$zbjd.sceneryName</a>
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="menuItem">
                        <div class="left_menutitle">
                            <div class="left_menuname">
                                省市景点
                            </div>
                            <div class="left_menulable">
                                #foreach($mcity in $menuCity)
                                <a href="/Scenic/0-${mcity.ItemId}-0-0-0-0-1.html">$mcity.Name</a>
                                #end
                            </div>
                        </div>
                        <div class="jd_counetbox">
                            <div class="menucounet">
                                <div class="leftMenuSearch">
                                    <div class="leftMenuSearch">
                                        <a href="javascript:void(0)" style=" font-size:16px;color:#ff6600">目的地</a>
                                    </div>
                                    #foreach($city in $City)
                                    <a href="/Scenic/0-${city.ItemId}-0-0-0-0-1.html">$city.Name</a>
                                    #end

                                </div>
                                <div class="leftMenuSearch">
                                    <div class="leftMenuSearch">
                                        <a href="javascript:void(0)" style=" font-size:16px;color:#ff6600">所有省份</a>
                                    </div>
                                    #foreach($provice in $Provice)
                                    <a href="/Scenic/${provice.ItemId}-0-0-0-0-0-1.html">$provice.Name</a>
                                    #end
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menuItem">
                        <div class="left_menutitle">
                            <div class="left_menuname">
                                价格区间
                            </div>
                            <div class="left_menulable">
                                <a href="/Scenic/0-0-0-0-1-0-1.html">0-50元</a><a href="/Scenic/0-0-0-0-2-0-1.html">50-100元</a><a href="/Scenic/0-0-0-0-3-0-1.html">100-200元</a>
                            </div>
                        </div>
                        <div class="jd_counetbox" style=" height:300px">
                            <div class="menucounet" style=" height:260px;">
                                <div class="leftMenuSearch">
                                    <div class="leftMenuSearch">
                                        <a href="javascript:void(0)" style=" font-size:16px;color:#ff6600">价格区间</a>
                                    </div>
                                    <a href="/Scenic/0-0-0-0-1-0-1.html">0-50元</a>
                                    <a href="/Scenic/0-0-0-0-2-0-1.html">50-100元</a>
                                    <a href="/Scenic/0-0-0-0-3-0-1.html">100-200元</a>
                                    <a href="/Scenic/0-0-0-0-4-0-1.html">100-200元</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="meunextend">
             <a href="/help/">帮助</a> | <a href="http://www.51760.cn" target="_blank">中青旅官网</a> </div>  | <a href="#">攻略</a>-->
    </div>
</div>
<script type="text/javascript">
    $("#txtScenicValue").bind("blur",function(){
        var keyword= $("#txtScenicValue").val();
        if(keyword=="")
        {
            $(this).val("景区名|城市");
        }

    }).bind("click",function(){
        var keyword= $("#txtScenicValue").val();
        if(keyword==""||keyword=="景区名|城市")
        {
            $(this).val("");}
    }).bind('keypress',function(event){
        if(event.keyCode == "13")
        {
            var keyword= $("#txtScenicValue").val();
            if(keyword!="景区名|城市"||keyword!="")
            {
                window.location.href="/Scenic/List.aspx?keyword="+keyword;
            }
        }
    });
    $("#btnQuery").bind("click",function(){
        var keyword= $("#txtScenicValue").val();
        if(keyword!="景区名|城市"||keyword!="")
        {
            window.location.href="/Scenic/List.aspx?keyword="+keyword;
        }
    });
    $("#select_area").bind("click",function(){
        $("#s_area_Box").Xwindow({ title: '区域选择' });
    });
    jQuery.ajax({
        url: "/AJAX/User/Login.aspx?method=GetLogin",
        type: "POST",
        success: function (response) {
            jQuery.XloadHide();
            var json = response.toJson();
            if(json.id>0)
            {
                $("#UserLoginBox").append('<div style="width: 300px; padding-left: 10px; float: left">'+
                '<span>您好<span style="color: Red">'+json.username+' </span>，欢迎光临驾驴旅游网 </span></div>'+
            '<div style="width: 200px; padding-left: 10px; float: right">'+
                '<span> <a href="http://www.cartrip.cc" onclick="window.external.addFavorite(this.href,this.title);return false;" title="驾驴旅游网-最专业的自驾游向导" rel="sidebar">收藏我们</a></span> <span class="titleicon line">'+
                    '<a href="http://www.cartrip.cc/misc.php?mod=faq&action=faq&id=1&messageid=2">关于我们</a></span></div>'+
            '<div style="width: 200px; padding-left: 10px; float: right;">'+
                '<span class="titleicon line"><a href="http://www.cartrip.cc/home.php?mod=space&do=notice&type=post&isread=1">消息 </a></span><span class="titleicon myqm">'+
                    '<a href="http://www.cartrip.cc/home.php?mod=space&uid='+json.id+'&do=profile&from=space">个人中心 </a>'+
                    '<a href="http://www.cartrip.cc/home.php?mod=space&uid='+json.id+'&do=thread&view=me&from=space" title="我的游记">我的游记</a></span></div>');
            }
            else
            {
                $("#UserLoginBox").append('<div style="width: 300px; padding-left: 10px; float: left">'+
                '<span>您好，欢迎光临驾驴旅游网</span></div>'+
            '<div style="width: 200px; padding-left: 10px; float: right"><span>'+
                    '<a href="http://www.cartrip.cc" onclick="window.external.addFavorite(this.href,this.title);return false;" title="驾驴旅游网-最专业的自驾游向导" rel="sidebar">收藏我们</a>'+
                '</span> <span class="titleicon line"><a href="http://www.cartrip.cc/misc.php?mod=faq&action=faq&id=1&messageid=2">关于我们</a></span>'+
            '</div><div style="width: 100px; padding-left: 10px; float: right;">'+
                '<span><a href="http://www.cartrip.cc/member.php?mod=register">注册</a></span> <span class="titleicon line">'+
                    '<a href="http://www.cartrip.cc/member.php?mod=logging&action=login">登录</a></span></div>');
            }
        }

    });
</script>