<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <title>用户中心</title>
       <link href="/Skin/default/style/user.css" rel="stylesheet" type="text/css" />
    #include("pageHeadCode.htm")  
   
</head>
<body>
 #set($lefMeun = 0)
    <!--是否显示左侧菜单-->
    #parse("pageHead.htm")
      <div class="pagebox" style="margin-top: 10px">
        <div class=" userPageTop">
            <div class="userPagetitleL">
            </div>
            <div class="userPagetitleR">
            </div>
        </div>
        <!--左右分-->
        <div style="overflow: hidden; border: 1px solid #ccc; border-top: 5px solid #ccc">
            <div style="width: 255px; overflow: hidden; float: left">
                <div class="userpageleft">
                    <div class="user_menu_box">
                        #include("UserWeb/userMenu.htm")
                    </div>
                </div>
                <div class="userpageleft2">
                </div>
            </div>
            <div style="width: 920px; overflow: hidden; float: right; padding-top: 10px">
              


                            <div class="minboxtitle">
                            <span class="iconStr">Q</span><span class="title"><h2>My</h2></span>
                            </div>    
                                             
                        
                <div class="thisbox" style="background-color: #f7f7f7;">                    
                    <div style="padding: 10px 15px 10px 15px">
                                <div class="minbox">   
                                <div style=" padding:20px; overflow:hidden">
                                <div style=" width:90px; height:90px; overflow:hidden ;float:left; border:1px solid #eee">
                                <img src="/res/images/userface.jpg" style="width:90px"/>
                                </div>
                                 <div style=" width:200px; height:90px; margin-left:10px;_margin-left:5px; float:left; line-height:30px">
                                 <h2 style=" color:#999">欢迎您！亲爱的</h2><h2 style="color:#005ea7">$!userArgs.username</h2>
                                 <div style=" text-align:left">
                                 <a href="ReviseUser.aspx" title="修改用户信息">
                                    <span class="inputbutton">修改信息</span></a>

                                 </div>
                                 </div>
                                  <div style=" width:530px; height:90px; float:right">
                                  
                                  <table class="noborder">
<tbody>
<tr>
<td class="tdName">用户名：</td><td class="tourargs" id="Td1">$!userArgs.username</td>
<td class="tdName">姓名：</td><td class="tourargs" id="Td2">$!userArgs.realname</td>
<td class="tdName">性别：</td><td class="tourargs" id="Td3">#if($userArgs.sex==0)男#end#if($userArgs.sex==1)女#end</td>
</tr>
<tr>
<td class="tdName">证件类型：</td><td class="tourargs" id="usersex">身份证</td>
<td class="tdName">证件号：</td><td class="tourargs" id="usermobile">$!userArgs.idcard</td>
<td class="tdName">手机号：</td><td class="tourargs" id="usercard">$!userArgs.mobile</td>
</tr>
</tbody></table>
 </div>
  </div>
   </div>     
 </div>
 </div>




                  <!--订单记录-->
                  <div class="minboxtitle">
                            <span class="iconStr">单</span><span class="title"><h2>近期订单记录</h2></span>
                            </div>
                    <table class="ordertable" id="Table1">
                        <thead>
                            <tr>
                                <th style="width: 80px;">
                                    订单信息
                                </th>
                                <th>
                                    订单金额
                                </th>
                                <th>
                                    订单应付
                                </th>
                                <th>
                                    订单状态
                                </th>
                                <th>
                                    时间
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="listEmployeeContent">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <script type="text/jscript" src="/Skin/default/js/UserWeb/order.js"></script>
    <script type="text/javascript">     
        function getOrderList() {
            var url = "/AJAX/TourOrder.aspx?action=TourOrderList&ts=" + Math.random();
            jQuery.Xload();
            jQuery.ajax({
                url: url,
                type: "POST",
                data: { time: 30 },
                success: function (response) {
                    jQuery.XloadHide();
                    var json = response.toJson();
                    if (json.success) {
                        var str = "";
                        var result = json.result;
                        for (var i = 0; i < result.length; i++) {

                            str += '<tr class="top">';
                            str += '<td colspan="6">订单编号：<span class="pnumber">' + result[i].serialno + '</span>';
                            str += ' <span class="pname">' + result[i].name + '</span></td></tr>'
                            str += '<tr class="content">'
                            str += '<td class="productimg' + (result[i].status == M.ORDER_TOUR_STATUS_YQX ? "_502" : "") + '"></td>';
                            str += '<td>￥' + parseFloat(result[i].dealmoney).toFixed(2) + '</td>'
                            str += '<td>' + ((result[i].status != M.ORDER_TOUR_STATUS_YQX) ? '<span class="orderprice">￥' + parseFloat(parseFloat(result[i].dealmoney) - parseFloat(result[i].payment)).toFixed(2) + '</span>' : "<span style='color:#999'>0.00</span>") + '</td>'
                            str += '<td>' + getOrderStatus(result[i]) + '</td><td>'
                           
                            if (result[i].SpareInt == M.PRODUCT_TYPE_GTLY) {
                                str += '<div><span style="color:#000000">发团：</span>' + dateFormat("Y年m月d日", result[i].come) + '</div>'
                            }

                            str += '<div><span style="color:#000000">下单：</span>' + dateFormat("Y/m/d h:i:s", result[i].createtime) + '</div></td>'
                            str += ' <td>' + getOrderListButton(result[i]) + '</td>'
                            str += ' </tr>';

                        }
                        $("#listEmployeeContent").html(str);

                    } else {
                        if (json.msg == "-1")
                            window.location.href = "login.aspx";
                        else
                            jQuery.Xmsg(json.msg);

                    }
                }

            });

        }
      

            getOrderList();
      
         
      
      
    </script>

    

      #parse("pageFoot.htm")
</body>
</html>
