<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Skin/default/style/user.css" rel="stylesheet" type="text/css" />
    #include("pageHeadCode.htm")
</head>
<body>
    #set($lefMeun = 0)
    <!--是否显示左侧菜单-->
    #parse("pageHead.htm")
    <div class="pagebox" style="margin-top: 10px">
        <div class=" userPageTop">
            <div class="userPagetitleL">
            </div>
            <div class="userPagetitleR">
            </div>
        </div>
        <!--左右分-->
        <div style="overflow: hidden; border: 1px solid #ccc; border-top: 5px solid #ccc">
            <div style="width: 255px; overflow: hidden; float: left">
                <div class="userpageleft">
                    <div class="user_menu_box">
                        #include("UserWeb/userMenu.htm")
                    </div>
                </div>
                <div class="userpageleft2">
                </div>
            </div>
            <div style="width: 920px; overflow: hidden; float: right; padding-top: 10px">
                <div class="minboxtitle">
                    <span class="iconStr">密</span><span class="title"><h2>
                        修改我的密码</h2>
                    </span>
                </div>
                <div style="overflow: hidden; padding:20px 0px 20px 100px">       



                    <div style="padding: 0px 5px 0px 5px">
                      
                        <div style="line-height: 25px;">现在密码</div>
                           <div>
                            <input type="password" title="现在密码" checktype="notempty" class="reset"
                                name="oldpass"  style="width: 280px;" />
                            <div class="errstr">
                            </div>
                        </div>
                    </div>
                    <div style="padding: 0px 5px 0px 5px">
                      <div style="line-height: 25px;">新密码</div>
                        <div>

                       <input type="password" err="新密码不能为空，6到12位及以上字母及数字组合" maxl="12" minl="6" title="修改密码" checktype="notempty|password"
                                name="pwd" class="reset pwd" style="width: 280px;" />
                            <div class="errstr">
                            </div>
                        </div>
                    </div>
                    <div style="padding: 0px 5px 0px 5px">

                        <div style="line-height: 25px;">确认密码</div>
                          <div>  <input type="password" err="请再次输入您的新密码" maxl="12" minl="6" title="确认密码" checktype="notempty|password"
                                name="" class="reset pwd" style="width: 280px;" />
                            <div class="errstr">
                            </div>
                        </div>
                    </div>
                   <div style="padding: 0px 5px 0px 5px">
                        <span style="width: 250px;" class="inputbutton orange" onclick="RevisePass('reset')">
                           确认修改</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #parse("pageFoot.htm")
</body>
</html>
<script type="text/javascript">
    function RevisePass(classname) {

        var data = {};
        try {
            data = jQuery.Xfilled(classname);
            var p;
            var passobj = $(".pwd");
            passobj.each(function () {
                if (p == null)
                    p = $(this).val();
                if (p != $(this).val()) {
                    p = null;
                    return false;
                }
            });
            if (p == null) {
                jQuery.Xerr({ obj: passobj, message: "两次密码输入不相同!" });
                return;
            }

        } catch (e) {
            jQuery.Xerr(e);
            return false;
        }
        var url = "/AJAX/User.ashx?action=RevisePW"
        jQuery.Xload();
        jQuery.ajax({
            url: url,
            data: data,
            type: "POST",
            success: function (response) {
                jQuery.XloadHide();
                var json = response.toJson();
                if (json.success) {

                    jQuery.Xmsg({ msg: "密码修改成功！请牢记您的新密码！", button: function () { window.location.href = "/UserWeb/" } });
                } else {
                    jQuery.Xmsg(json.msg)

                }


            }

        });
    }
</script>
