<div class="user_menu_title">
    用户管理
</div>
<ul>
    <li id="liIndex_7"><a href="default.aspx">用户首页</a></li>
    <li id="liIndex_8"><a href="Coupon.aspx" title="抵用券记录查询">优惠券</a></li>
    <li id="liIndex_4"><a href="ReviseUser.aspx">用户资料修改</a></li>
    <li id="liIndex_5"><a href="RevisePass.aspx">用户密码修改</a></li>
    <li id="liIndex_6"><a href="logout.aspx">安全退出登录</a></li>
</ul>
<div class="user_menu_title">
    订单管理
</div>
<ul>
    <li id="liIndex_2"><a href="TourOrderList.aspx?Type=263" title="线路订单">线路订单</a></li>
    <li id="liIndex_3"><a href="TourOrderList.aspx?Type=264" title="签证订单">签证订单</a></li>
    <li id="liIndex_9"><a href="FlightOrderList.aspx?Type=1" title="国内机票">国内机票</a></li>    
     <li id="liIndex_10"><a href="HotelOrderList.aspx" title="酒店订单">酒店订单</a></li>    
</ul>
